# Copie para .env e preencha
APPWRITE_ENDPOINT=https://nyc.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=6a1601ab0027b2b90173

# API Key criada no Appwrite Console (precisa de permissões para databases.* e users.*)
APPWRITE_API_KEY=cole_aqui_sua_api_key

# IDs (deixe como está)
DATABASE_ID=gestao_recursos
